.createIdeaContainer{
    background-color:  rgba(246, 251, 252, 0.897);
}

.title{
    font-size: 5vh;
    padding-top: 30px;
    margin: 0px 0px 50px 0px
}

.formContainer{
    width: 60%;
    margin: auto;
}

.labelName{
    color: black;
    font-size: x-large;
    display: block !important;
    margin-bottom: 5px;
    margin-top: 10px;
}

#category{
    width: 120px;
    background-color: rgba(255, 255, 255, 0.897);
    border-color: black;
    display: block;
}

#name{
    width: 600px;
}

.textIdea{
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.897);
    padding-left: 10px;
    padding-top: 10px;
}

.button-container{
    margin-top: 20px;
    float: right;
    margin-bottom: 30px;
}

::placeholder{
    color: gray !important;
}