.ideasContainer {
    padding: 20px;
    height: 100vh;
    padding: 30px 50px 0 50px;
    overflow-x: hidden;
}
html, body{
    max-height:100%;
}

.pageContainer{
    width: 80% !important;
    margin: auto;
}

tbody tr{ 
    cursor: pointer; 
    transition: 0.3s;
}

tbody tr:hover {
    background-color: #009688;
    color: white;;
}

td {
    padding: 0 !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-right:10px !important;
    margin-left:10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.below-table{
    margin-top:50px;
}

.tableCellContainer {
    min-height: 50px;
    display: flex;
    align-items: center;
}

.category-card{
    display: block !important;
    margin-bottom: 10px !important;
    color: #009688;
}

.card{
    background-color: white !important;
}

.card:hover{
    background-color: #009688 !important;
    cursor: pointer;
}

.card:hover .card-title, .card:hover .category-card{
    color: white;
}

.card-title{
    color: #009688;
}

.abstract-card, .author-card{ 
    color: darkslategray;
}

.author-card{
    display: block !important;
    margin-top: 10px;
}

.filteringContainer{
    width:100%;
    display: flex;
    gap:10px;
}