.ideasContainer {
    padding: 20px;
    height:100%;
}
html, body{
    overflow: hidden;
    max-height:100%;
}



.container{
    height:100% !important;

}

table {
    table-layout: fixed;
    border-collapse: collapse;
    max-height: 100%;
    display: block !important;
}
tbody {    
    overflow: scroll;
    max-height: 100%;
    padding-bottom: 100px;
}

tbody tr{ 
    cursor: pointer; 
    transition: 0.3s;
}

tbody tr:hover {
    background-color: #009688;
    color: white;;
}

td {
    padding: 0 !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-right:10px !important;
}

.below-table{
    margin-top:50px;
}