.comment-input{
    width: 500px; 
    display: block;
}

.fa-star{
    display: flex !important; 
    float: right !important; 
    padding-top: 7px !important; 
    padding-left: 5px !important; 
    color: #009688 !important;
}

.rating-number{
    color: #009688; 
    font-size: 20px; 
    display: flex; 
    float: right;
}

.section-title{
    font-size:20px; 
    font-weight: bold; 
    color:#419788;
    padding-top: 20px;
}

.bold{
    font-weight: bold;
}

.comment{
    padding-bottom: 15px;
}

.btn{
    margin-top: 15px;
}




/* The Modal (background) */
.modal-delete{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-delete-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #26a69a !important;
    background-color: white !important;
    font-size: 28px;
    display: flex; 
    float: right;
    margin-right: 10px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }