{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IdeaBoard</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/createIdea.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>

    </script>

</head>
<body>
    <div class="pageContainer">
        <nav>
            <div class="nav-wrapper teal">
              <a href="/ideaBoard/all" class="brand-logo"><img style="margin-left:30px;width: 145px;" src="../static/img/Logo.svg"/></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a  href="/ideaBoard/all">All Ideas</a></li>
                <li><a  href="/ideaBoard/own">My Ideas</a></li>
        
                <li><a  href="{% url 'logout' %}" type="submit">Log out</a></li>
              </ul>
            </div>
          </nav>

        <div class="createIdeaContainer">

            <div class="addIdeaForm">

                <div class="formContainer">
                    <form role="form" method="post" >
                        {% csrf_token %}
                        <div class="center-align"><h1 class="title">Edit your idea !</h1></div>
                        
                        <label class="labelName" for="name">Idea name</label>
                        <input type="text" placeholder="Edit your idea name" name="name" id="name" value="{{ idea.name }}" required>

                        <label class="labelName" for="category">Category :</label>
                        <select name="category" id="category" required style="display: block;">
                            <option value="Technology" {% if idea.category == "Technology" %}selected{% endif %}>Technology</option>
                            <option value="Health" {% if idea.category == "Health" %}selected{% endif %}>Health</option>
                            <option value="Sports" {% if idea.category == "Sports" %}selected{% endif %}>Sports</option>
                        </select>

                        <label class="labelName" for="content">Content :</label>
                        <textarea name="content" class="textIdea" cols="30" rows="10" required placeholder="Enter the content of your idea">{{ idea.content }}</textarea>

                        <div class="button-container">
                            <a class="btn btn-success cancel" href="/ideaBoard">Cancel</a>
                            <button class="btn btn-success" type="submit">Update idea</button>
                        </div>
                        <div class="spacer" style="clear: both;"></div>
                    </form>
                </div>

              </div>
        </div>
    </div>



</body>
</html>
