{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IdeaBoard</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ideaDetails.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ideaBoard.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
       
    </script>

</head>
<body>
    <div class="pageContainer">
      <nav>
        <div class="nav-wrapper teal">
          <a href="/ideaBoard/all" class="brand-logo"><img style="margin-left:30px;width: 145px;" src="../static/img/Logo.svg"/></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a  href="/ideaBoard/all">All Ideas</a></li>
            <li><a  href="/ideaBoard/own">My Ideas</a></li>
            <li><a  href="{% url 'logout' %}" type="submit">Log out</a></li>
          </ul>
        </div>
      </nav>

        <div class="ideasContainer">
          <div style="margin-bottom: 30px;">
            <h3 style="display:inline; color:#419788"">{{ idea.name}}</h3>
           
            {% if idea.author == user %}

            <a style="display: flex; float: right" class="btn btn-success red accent-2" href="{% url 'deleteIdea' idea.id %}" type="submit">Delete <i style="margin-left:10px" class="medium material-icons">delete</i></a>
            <a style="margin-right: 10px;display: flex; float: right; margin-left: 10px;" class="btn btn-success" href="{% url 'editIdea' idea.id %}" type="submit">Edit<i style="margin-left:10px" class="medium material-icons">edit</i></a>
            
            {% endif %}
            <a style="background-color: white !important; color:#26a69a; display: flex; float: right" class="btn btn-success red accent-2" onclick="goBack()">Back</a>
          </div>
          <div>
              <span class="category">{{ idea.category }}</span>

              <span class="fa fa-star"></span>
              <span class="rating-number"> {{ idea.vote }} </span>
              
              <div>
              <p class="section-title">Description:</p>
              <p> {{ idea.content}} </p>
              <p> <span class="bold">Last Updated : </span>{{ idea.lastUpdate|date:"d F Y" }} </p>
            
              {% if comments %}

              <p class="section-title">Comments:</p>

              <ul>
                {% for comment in comments %}

                <li class="comment"><span class="bold">{{comment.author}} said: </span> {{comment.content}}</li>

                {% endfor %}
              </ul>                   
              {% endif %}

              <div class="comment-form">
                

                <form action="{% url 'ideaDetails' ideaID=idea.id %}" method="POST">
                  {% csrf_token %}

                  <label style="font-size: 15px;" for="content">Write your comment :</label>
                  <textarea class="comment-input" name="content"></textarea>

                  <button class="btn btn-success" type="submit">Submit comment</button>
                </form>

              </div>

                <button class="btn btn-success" id="add-comment" type="submit">Add comment</button>
            </div>
          </div>
            
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/ideaDetails.js' %}"></script>
</body>
</html>
