{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IdeaBoard</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ideaBoard.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
       
    </script>

</head>
<body>
    <div class= container>
        <nav>
            <div class="nav-wrapper teal">
              <a href="#" class="brand-logo"><img style="margin-left:30px;width: 145px;" src="../static/img/Logo.svg"/></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a  href="/ideaBoard/all">All Ideas</a></li>
                <li><a  href="/ideaBoard/own">Your Ideas</a></li>
                <li><a  href="c/profile">Profile</a></li>
                <li><a  href="{% url 'logout' %}" type="submit">Log out</a></li>
              </ul>
            </div>
          </nav>

        <div class="ideasContainer">
           
                <h2 style="vertical-align: middle; display:inline">Your Ideas</h2>
                <a style="float: right; display:inline;" class="btn-floating btn-large waves-effect waves-light teal" href="{% url 'addIdea' %}" type="submit"><i class="material-icons">add</i></a>
            
            <table>
                <thead>
                    <tr class="row100 head">
                        <th class="cell100 column1">Idea Name</th>
                        <th class="cell100 column2">Abstract</th>
                        <th class="cell100 column3">Author</th>
                        <th class="cell100 column4">Likes</th>
                        <th class="cell100 column4">Category</th>
                        <th class="cell100 column4">Last Updated</th>
                    </tr>
                </thead>
        
                <tbody>
                    {% if ideas %}
         
                    {% for idea in ideas %}
                        <tr onclick="window.location='/ideaDetails/{{ idea.id }}';" class="row100 body">                            
                                <td class="cell100 column1">{{ idea.name }}</td>
                                <td style="max-width: 400px; display: -webkit-box;
                                -webkit-line-clamp: 3;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                " class="cell100 column2">{{ idea.content }}</td>
                                <td class="cell100 column3">{{ idea.author }}</td>
                                <td class="cell100 column4">{{ idea.vote }}</td>
                                <td class="cell100 column4"><span class="category">{{ idea.category }}</span></td>
                                <td class="cell100 column4">awdawdawdw</td>
                            </a>
                        </tr>
                    {% endfor %}
                    
                    {% endif %}
                    
                </tbody>
            </table>    
            
            
        </div>
    </div>
    
        

</body>
</html>