{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IdeaBoard</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ideaBoard.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
       
    </script>

</head>
<body>
    <div class="pageContainer">
        <nav>
            <div class="nav-wrapper teal">
              <a href="#" class="brand-logo"><img style="margin-left:30px;width: 145px;" src="../static/img/Logo.svg"/></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a  href="/ideaBoard">All Ideas</a></li>
                <li><a  href="/ideaBoard">My Ideas</a></li>
                <li><a  href="c/profile">Profile</a></li>
                <li><a  href="{% url 'logout' %}" type="submit">Log out</a></li>
              </ul>
            </div>
          </nav>

        <div class="ideasContainer">
          <div style="margin-bottom: 30px;">
            <h3 style="display:inline; color:#419788"">{{ idea.name}}</h3>

            {% if idea.author == user %}
            <a style="display: flex; float: right" class="btn btn-success red accent-2" href="{% url 'deleteIdea' idea.id %}" type="submit">Delete <i style="margin-left:10px" class="medium material-icons">delete</i></a>
            <a style="margin-right: 10px;display: flex; float: right" class="btn btn-success" href="{% url 'editIdea' idea.id %}" type="submit">Edit<i style="margin-left:10px" class="medium material-icons">edit</i></a>
            <!--
            <a style="display:inline; float: right" class="" href="{% url 'deleteIdea' idea.id %}" type="submit"><i class="medium material-icons">delete</i></span></a>
            <a style="display:inline; float: right; margin-right: 50px;" class="" href="{% url 'editIdea' idea.id %}" type="submit"><i class="medium material-icons">edit</i></span></a>
            -->
            {% endif %}
          </div>
          <div>
            <span class="category">{{ idea.category }}</span>
            <p  style="font-size:20px; font-weight: bold; color:#419788">Description:</p>
            <p> {{ idea.content}} </p>
            <p> Last Updated : {{ idea.lastUpdate}} </p>
            <p> Rating : {{ idea.vote}} </p>
           
            
            {% if idea.comments %}
            <h4>Comments:</h4>
            {% for comment in idea.comments %}
            <h5>{{comment}}</h5>
            {% endfor %}
                    
            {% endif %}
          </div>
            
        </div>
    </div>
</body>
</html>
