{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IdeaBoard</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ideaBoard.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
   
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems);
        });

        var allCards = []

        var activeSearchKey = ""
        var activeCategory= "All"

        $( document ).ready(function() {

            $('.category-card').each(function(i,obj){
                allCards.push($(this).closest(".col"))
            })

            InitializeSelect()
        
            $("#filterByTitle").on("input", function(){
                activeSearchKey = $(this).val().toLowerCase()
                ApplyFilters()
            })

            $('#categorySelector').on('change', function (e) {
                activeCategory = this.value;
                ApplyFilters()
            });

            

            $(".likeButton").click(function(){
                event.stopPropagation()
                
                var card = $(this).closest(".card")
                var id = $(card).attr("data-id")
                
                $.ajax({
                    type: "POST",
                    url: "/voteIdea/",
                    data: { ideaID: id },
                    headers: { "X-CSRFToken": '{{ csrf_token }}' }
                }).done(function(data) {
                    $(card).find(".vote-number").text(data.votes)
                });
            })
        })

        function ApplyFilters(){
            
            $(allCards).each(function(i,obj){
                if(Filter(obj)){ 
                    $(obj).show()
                }else{
                    $(obj).hide()
                }
            })
        }

        function Filter(obj){
            return $(obj).find(".card-title").html().toLowerCase().includes(activeSearchKey) && //this is the check for the name of the idea
                    ($(obj).find(".category-card").html() === activeCategory || activeCategory === "All") // this is the check for the category or category that is selected is "ALL"
                     //We can add more filters here
        }
        
        function InitializeSelect(){
            var uniqueCategories = []
            $("#categorySelector").children().each(function () {

                if($.inArray($(this).val(), uniqueCategories) > -1 ){
                    $(this).remove()
                }else{
                    uniqueCategories.push($(this).val())
                }
            })
            $('select').formSelect();
        }
    </script>

</head>
<body>
    <div class="pageContainer">
        <nav>
            <div class="nav-wrapper teal">
              <a href="/ideaBoard/all" class="brand-logo"><img style="margin-left:30px;width: 145px;" src="../static/img/Logo.svg"/></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a  href="/ideaBoard/all">All Ideas</a></li>
                <li><a  href="/ideaBoard">My Ideas</a></li>
                <li><a  href="c/profile">Profile</a></li>
                <li><a  href="{% url 'logout' %}" type="submit">Log out</a></li>
              </ul>
            </div>
          </nav>
        
        <div class="ideasContainer">

            <div class="filteringContainer">
                <input class="search-input" style="margin-top: 1rem;" placeholder="Keyword search..." id="filterByTitle" type="text" class="validate">
                <form action="{% url 'listUserIdeas' %}" method="POST">
                    {% csrf_token %}
                <input class="search-input" style="margin-top: 1rem;" type="text" placeholder="Search by user..." name="user" id="user">
                </form>
                
                <div class="input-field col s12">
                    <select id="categorySelector">
                    <option selected>Category</option>
                    <option>All</option>
                    {% if ideas %}
                    {% for idea in ideas %}                     
                      <option value="{{ idea.category }}">{{ idea.category }}</option>
                    {% endfor %}
                    {% endif %}
                    </select>
                  </div>
            </div>

            {% if "own" in request.path %}
            <h2 style="vertical-align: middle; display:inline">My Ideas</h2>
            <a style="float: right; display:inline;" class="btn-floating btn-large waves-effect waves-light teal" href="{% url 'addIdea' %}" type="submit"><i class="material-icons">add</i></a>
            {% else %}
            <h2 style="vertical-align: middle; display:inline">All Ideas</h2>
            {% endif %}

            <div class="row">
                {% if ideas %}
                {% for idea in ideas %}
                <div class="col s8 m4">

                  <div class="card darken-1" data-id= "{{idea.id}}">
                    <div onclick="viewIdea(this,{{idea.id}})" class="card-content">
                      <span class="card-title">{{ idea.name }}</span>
                      <span class="category-card">{{ idea.category }}</span>
                      <span class="date-card">{{ idea.lastUpdate|date:"d F Y"}}</span>
                      <p class="abstract-card">{{ idea.content|truncatechars:30 }}.</p>
                      <div class="card-bottom">
                        <span class="author-card">by <span style="font-weight: bold;">{{ idea.author }}</span></span>
                        <span class="vote-number">{{ idea.vote}}</span>
                        <span class="fa fa-star fa-lg likeButton"></span>
                      </div>
                    </div>
                  </div>

                </div>
                {% endfor %}
                {% endif %}
            </div> 
        </div>
    </div>

     
    </div>
    
        
    <script type="text/javascript" src="{% static 'js/ideaBoard.js' %}"></script>
</body>
</html>
