{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Castoro&display=swap" rel="stylesheet">
</head>
<body>
    {% if user.is_authenticated %}
    <div class= container>
        
        <div class="ideasContainer">
            <div class = "header">
                <h2>Lean Ideas</h2>
            </div>
        
            <h2>Idea Board</h2>
            <span>
                <a class="btn btn-success" href="{% url 'logout' %}" type="submit">Log out</a>
            </span>
        </div>
    </div>
        {% else %}
        <div class= container style="height: 95%;">
            <div class="row valign-wrapper" style="height: 100%"> 
              <div class="col s5 valign" style="margin: auto;">
                
                  <form class="login-form" role="form" action="{% url 'login' %}" method="post" >
                      {% csrf_token %}
                    <div class="center-align" style="margin-top:25px">
             
                   
                            <img style="margin:30px;" src="../static/img/Logo.svg"/>
                  
                         
                    </div>
      
                       

                      {{ form }}
      
                      <div class="button-container">
                        <a class="btn btn-success" href="{% url 'register' %}">Register</a>
                        <button type="submit" class="btn btn-success">Sign in</button>
                      </div>
                  </form>
              
              </div>
            </div>
          
        </div>
    </div>
    {% endif %}
        

</body>
</html>