{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

    <div class="container" style="height: 95%;">
      <div class="row valign-wrapper" style="height: 100%"> 
        <div class="col offset-s3 s5 valign">
          
            <form class="login-form" role="form" action="{% url 'login' %}" method="post" >
                {% csrf_token %}
                <div class="center-align"><h1 class="title">Lean Ideas</h1></div>

                {{ form }}

                <div class="button-container">
                  <a class="btn btn-success" href="{% url 'register' %}">Register</a>
                  <button type="submit" class="btn btn-success">Sign in</button>
                </div>
            </form>
        
        </div>
      </div>
    </div>

</body>
</html>