{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>
<form action="{% url 'login' %}" method="post">

  {% csrf_token %}

  <div class="container">
    <form role="form"
                  action="{% url 'login' %}"
                  method="post">
            {% csrf_token %}
            <h1><font size="6">Fill in the login credentials</font></h1>

            {{ form }}

            {% buttons %}
            <button class="btn btn-primary" type="submit" class="btn btn-success">Sign in</button>
            {% endbuttons %}
    </form>
  </div>
</form>
</body>
</html>