{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

  <div class="container" style="height: 97%;">
    <div class="row valign-wrapper" style="height: 100%"> 

      <div class="col s9 valign" style="margin: auto;">

        <form class="register-form" action="{% url 'register' %}" method="post" style="max-height: 95;">
          {% csrf_token %}
          <div class="center-align">
            <h1 class="title">Registration form</h1>
            <p style="font-style: italic;">Please fill in this form to create an account. Each field is mandatory</p>
            {% if messages %}
            <ul>
              {% for message in messages %}
                <li class ="errorMessage" >{{ message }} </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          
          <div class="row valign-wrapper" style="height: 100%"> 
            <div class="col s6 valign">      
             
              
              <label for="fname">First Name*</label>
              <input type="text" placeholder="Enter First Name" name="fname" id="fname" required>
          
              <label for="lname">Last Name*</label>
              <input type="text" placeholder="Enter Last Name" name="lname" id="lname" required>
          
              <label for="username">Username*</label>
              <input type="text" placeholder="Enter Username" name="username" id="username" required>
            </div>
            <div class="col s6 valign">
          
              <label for="email">Email*</label>
              <input type="text" placeholder="Enter Email" name="email" id="email" required>
          
              <label for="psw">Password*</label>
              <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
          
              <label for="psw-repeat">Repeat Password*</label>
              <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
            </div>
          </div>
          <div class="button-container">
            <a class="btn btn-success" href="{% url 'login' %}">Back</a>
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>